<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="tab-1">

	<!-- Clásicos. -->
	<div class="d-sm-flex">
		<h1 class="h3 mb-1 text-gray-800">Clásicos</h1>
	</div>
	
	<!-- Content Row -->
	<div class="row">

		<!-- Total de clásicos. -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card bg-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-white text-uppercase">Total:</div>
							<div class="font-weight-bold">
								<a class="text-xs text-white stretched-link mr-1" th:href="@{/ac-spring/backoffice/classics}">Ver detalles</a>
							</div>
						</div>
						<div class="col-auto text-white">
							<span class="numero" th:text="${total1[0]}"></span>
						</div>
					</div>
				</div>
				<div class="card-footer bg-info text-white text-xs">Clásicos almacenados en la base de datos.</div>
			</div>
		</div>
		<!-- /Total de clásicos. -->

		<!-- Clásicos publicados. -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card bg-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-white text-uppercase">Aprobados:</div>
							<div class="font-weight-bold">
								<a class="text-xs text-white stretched-link mr-1"
								   th:href="@{/ac-spring/backoffice/classics_status(approved=true,deleted=false)}">Ver detalles</a>
							</div>
						</div>
						<div class="col-auto text-white">
							<span class="numero" th:text="${total1[1]}"></span>
						</div>
					</div>
				</div>
				<div class="card-footer bg-success text-white text-xs">Clásicos visibles a los usuarios y al público.</div>
			</div>
		</div>
		<!-- /Clásicos publicados. -->

		<!-- Clásicos pendientes. -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card bg-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-white text-uppercase">Pendientes:</div>
							<div class="font-weight-bold">
								<a class="text-xs text-white stretched-link mr-1"
								   th:href="@{/ac-spring/backoffice/classics_status(approved=false,deleted=false)}">Ver detalles</a>
							</div>
						</div>
						<div class="col-auto text-white">
							<span class="numero" th:text="${total1[2]}"></span>
						</div>
					</div>
				</div>
				<div class="card-footer bg-warning text-white text-xs">Clásicos pendientes de aprobación.</div>
			</div>
		</div>
		<!-- /Clásicos pendientes. -->

		<!-- Clásicos eliminados. -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card bg-danger shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="font-weight-bold text-white text-uppercase">Borrados:</div>
							<div class="font-weight-bold">
								<a class="text-xs text-white stretched-link mr-1"
								   th:href="@{/ac-spring/backoffice/classics_status(deleted=true)}">Ver detalles</a>
							</div>
						</div>
						<div class="col-auto text-white">
							<span class="numero" th:text="${total1[3]}"></span>
						</div>
					</div>
				</div>
				<div class="card-footer bg-danger text-white text-xs">Clásicos borrados por los usuarios.</div>
			</div>
		</div>
		<!-- /Clásicos eliminados. -->

	</div>
	<!-- /Clásicos. -->

</div>

</html>