<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:if="${country}" th:fragment="form-country">

	<form th:action="@{/ac-spring/backoffice/save_country}" th:object="${country}" method="post" class="user">

		<div class="form-group">
			<label for="name">Nombre *</label>
			<input th:field="*{name}"
				   type="text"
				   id="name"
				   class="form-control form-control-sm"
				   th:errorclass="is-invalid"
				   placeholder="Introduce el nombre"
				   autofocus />
			<small th:if="#{fields.hasErrors('name')}"
				   th:errors="*{name}"
				   class="form-text text-danger"></small>
		</div>
		
		<div class="form-group">
			<label for="origin">Origen *</label>
			<select th:field="*{origin}"
					id="origin"
				    class="form-control form-control-sm"
				    th:errorclass="is-invalid">
				<option value="">Selecciona el origen</option>
				<option th:each="o: ${origins}"
					    th:value="${o.id}"
					    th:text="${o.name}"></option>
			</select>
			<small th:if="${#fields.hasErrors('origin')}"
				   th:errors="*{origin}"
				   class="form-text text-danger"></small>
		</div>
		
		<div th:replace="views/fragments/elements :: form-buttons"></div>
		
	</form>
</div>
</html>